# ------------------------------------------------------
# macOS system files
# ------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride

# ------------------------------------------------------
# Python files/folders
# ------------------------------------------------------
__pycache__/
.pytest_cache
.py
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
pip-wheel-metadata/
*.spec
*.pot

# ------------------------------------------------------
# C extensions
# ------------------------------------------------------
build/
dist/

# ------------------------------------------------------
# Virtual environments
# ------------------------------------------------------
venv/
venv.bak/
.venv/
ENV/
env/
.env/

# ------------------------------------------------------
# Environment variables/secrets files
# ------------------------------------------------------
.env
.env.*

# ------------------------------------------------------
# pipenv / other
# ------------------------------------------------------
*.egg-info/
.eggs/
pip-wheel-metadata/


# ------------------------------------------------------
# Database files
# ------------------------------------------------------
*.db
*.sqlite3

# ------------------------------------------------------
# Log files
# ------------------------------------------------------
*.log

# ------------------------------------------------------
# Coverage reports
# ------------------------------------------------------
htmlcov/
.coverage
.coverage.*

# ------------------------------------------------------
# Visual Studio Code
# ------------------------------------------------------
.vscode/
*.code-workspace
.history/

# ------------------------------------------------------
# Docker-related
# ------------------------------------------------------
# Temporary build artifacts
*.tmp

# ------------------------------------------------------
# Miscellaneous
# ------------------------------------------------------
.idea/
*.swp
*.swo
*.nupkg
*.exe
instance/
Thumbs.db
