<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizza Management Application</title>
</head>

<body>

  <!-- Header Content -->
  <header>Header Content Here
  </header>

  <!-- Navbar Content -->
  <nav>Navbar Content Here
  </nav>

  <!-- Main Content -->
  <main>
    {% block maincontent %}{% endblock %}
  </main>

  <!-- Footer Content -->
  <footer>
    <p>&copy; 2025 Hunter Jones</p>
  </footer>

</body>

</html>