{% extends 'shared/layout.html' %}

{% block maincontent %}
<!-- Section will fill in main content section of home page -->
<section class="home-section">
  <p class="home-description">
    Welcome to the StrongPizza Management Application. Here you are able to add new ingredients
    as an owner for your restaurant pizza chefs to use.
  </p>
  <p class="home-description">
    As a pizza chef you are able to create pizza masterpieces using ingredients the owner has added for availability.
    You can refine pizzas after creation as well as remove them altogether.
  </p>
</section>

{% endblock %}