/* | Styling for Main Section | */
.main-section {
  width: 100vw;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
}

.home-section {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}